<ul class="list-none m-0 p-0">
    <li class="border bg-[#f6f6f6] -mt-px p-3 border-solid border-[#ddd]">Un rey</li>
    <li class="border bg-[#f6f6f6] -mt-px p-3 border-solid border-[#ddd]">Una reina</li>
    <li class="border bg-[#f6f6f6] -mt-px p-3 border-solid border-[#ddd]">Dos alfiles</li>
    <li class="border bg-[#f6f6f6] -mt-px p-3 border-solid border-[#ddd]">Dos caballos</li>
    <li class="border bg-[#f6f6f6] -mt-px p-3 border-solid border-[#ddd]">Dos torres</li>
    <li class="border bg-[#f6f6f6] -mt-px p-3 border-solid border-[#ddd]" >Ocho peones</li>
  </ul>